<!DOCTYPE html>
<html lang="en">
<head>
    <th-block data-th-replace="fragments/head :: head"></th-block>
</head>
<body>
<nav class="navbar fixed-top navbar-light bg-white border-bottom shadow-sm">
    <a class="navbar-brand" href="/">
        <img alt="metrohm logo" class="d-inline-block align-top" data-th-src="@{'/favicon.ico'}"> Metrohm
    </a>
</nav>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div data-th-if="${errorMessage}" class="alert alert-danger">
                        <span data-th-text="${errorMessage}"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome to Login App!</h3>
                            <form method="POST" data-th-action="@{/login}">
                                <div class="form-label-group">
                                    <label for="username">Username</label>
                                    <input type="text" id="username" name="username" class="form-control"
                                           placeholder="Username"
                                           required autofocus="autofocus">
                                </div>
                                <div class="form-label-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password" class="form-control"
                                           placeholder="Password"
                                           required>
                                </div>
                                <button class="btn btn-lg btn-dark btn-block btn-login text-uppercase font-weight-bold mb-2"
                                        type="submit">Sign in
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
